
.vs/ClimateControll/v16/.suo
.vs/ClimateControll/v16/Server/sqlite3/storage.ide
.vs/ClimateControll/v16/Server/sqlite3/storage.ide-shm
.vs/ClimateControll/v16/Server/sqlite3/storage.ide-wal
ClimateControll/bin/Debug/ClimateControll.exe
ClimateControll/bin/Debug/ClimateControll.exe.config
ClimateControll/bin/Debug/ClimateControll.pdb
.vs/ClimateControll/v16/.suo
.vs/ClimateControll/v16/.suo
.vs/ClimateControll/v16/Server/sqlite3/storage.ide
.vs/ClimateControll/v16/.suo
ClimateControll/bin/Debug/ClimateControll.exe
ClimateControll/bin/Debug/ClimateControll.pdb
ClimateControll/obj/Debug/ClimateControll.csproj.GenerateResource.cache
ClimateControll/obj/Debug/ClimateControll.csprojAssemblyReference.cache
ClimateControll/obj/Debug/ClimateControll.exe
ClimateControll/obj/Debug/ClimateControll.pdb
ClimateControll/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
