
.vs/ClimateControll/v16/.suo
.vs/ClimateControll/v16/Server/sqlite3/storage.ide
.vs/ClimateControll/v16/Server/sqlite3/storage.ide-shm
.vs/ClimateControll/v16/Server/sqlite3/storage.ide-wal
ClimateControll/bin/Debug/ClimateControll.exe
ClimateControll/bin/Debug/ClimateControll.exe.config
ClimateControll/bin/Debug/ClimateControll.pdb
